@model newPrideMore.Models.ProfessionalType

@{
    ViewData["Title"] = "Destalhes: Profissão | Especialidades";
}

<h2>Detalhes</h2>

<h4>@Html.DisplayFor(model => model.Speciality)</h4>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            <span>Profissão | Especialidade</span>
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Speciality)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">← Voltar</a>
</div>
