@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br><br>
    <h2 class="display-4">Conectando profissionais de saúde acolhedores com a população LGBTQIA+</h2>
    <p>Siga a gente no Instagram <a href="https://www.instagram.com/jessicatrettin/?hl=pt-br">pride_more</a></p>
</div>
