@{
    ViewData["Title"] = "Pride+";
}

<div class="text-center">
    <br><br>
    <h3 class="display-4">Conectando profissionais de saúde acolhedores com a população LGBTQIA+</h3>
    <h5>Siga a gente no Instagram <a href="https://www.instagram.com/pride_mais/">pride_mais</a> ♥</h5>
</div>