@{
    ViewData["Title"] = "Sobre nós";
}


<div class="text-center">
    <br><br><br>
    <h2>Viva o amor e as conexões humanas</h2>
    <hr />
    <p>
        Aqui, não temos distinção entre seres humanos e somos à favor do amor e da liberdade<br>
        Buscamos conectar profissionais de saúde acolhedores com a população LGBTQIA+<br>
        Nós nos orgulhamos de quem somos! Nos orgulhamos de quem você é!<br>
        Nos orgulhamos de poder proporcionar um atendimento mais acolhedor e humanizado à todes!<br>
    </p>
    <hr />
    <h1>    Seja muito bem vinde! Bem vinde à Pride+</h1>
    <h1>♥ ♥ ♥</h1>
</div>
