@model newPrideMore.Models.ViewModels.ProfessionalFormViewModel

@{
    ViewData["Title"] = "Cadastro de profissional";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row" id="ProfessionalCreate">
    <div class="col-md-6" id="ProfessionalForm">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Professional.Name" class="control-label">Nome*</label>
                <input asp-for="Professional.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Professional.Cpf" class="control-label">CPF*</label>
                <input asp-for="Professional.Cpf" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Professional.ProfessionalTypeId" class="control-label">Profissão*</label>
                <select asp-for="Professional.ProfessionalTypeId" asp-items="@(new SelectList(Model.ProfessionalTypes,"Id","Speciality"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Professional.Register" class="control-label">Registro profissional*</label>
                <input asp-for="Professional.Register" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Professional.Email" class="control-label">E-mail*</label>
                <input asp-for="Professional.Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Professional.Address" class="control-label">Endereço de atendimento*</label>
                <input asp-for="Professional.Address" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Professional.Phone" class="control-label">Contato*</label>
                <input asp-for="Professional.Phone" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Professional.Instagram" class="control-label">Instagram</label>
                <input asp-for="Professional.Instagram" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Professional.HealthInsurance" class="control-label">Convênios</label>
                <input asp-for="Professional.HealthInsurance" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Professional.Password" class="control-label">Senha*</label>
                <input asp-for="Professional.Password" class="form-control" />
            </div>
            <div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-dark" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6" id="ProfessionalImg">
        <img src="" />
    </div>
    </div>