@model newPrideMore.Models.ViewModels.ProfessionalFormViewModel
@{
    ViewData["Title"] = "Editar profissional";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Professional.Email" />
            <div class="form-group">
                <label asp-for="Professional.Name" class="control-label">Nome*</label>
                <input asp-for="Professional.Name" class="form-control" />
                <span asp-validation-for="Professional.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professional.Cpf" class="control-label">CPF*</label>
                <input asp-for="Professional.Cpf" class="form-control" />
                <span asp-validation-for="Professional.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professional.ProfessionalTypeId" class="control-label">Profissão*</label>
                <select asp-for="Professional.ProfessionalTypeId" asp-items="@(new SelectList(Model.ProfessionalTypes,"Id","Speciality"))" class="form-control"></select>
            </div>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Professional.Register" class="control-label">Registro profisional*</label>
                <input asp-for="Professional.Register" class="form-control" />
                <span asp-validation-for="Professional.Register" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professional.Email" class="control-label">E-mail*</label>
                <input asp-for="Professional.Email" class="form-control" />
                <span asp-validation-for="Professional.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professional.Address" class="control-label">Endereço de atendimento*</label>
                <input asp-for="Professional.Address" class="form-control" />
                <span asp-validation-for="Professional.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professional.Phone" class="control-label">Contato*</label>
                <input asp-for="Professional.Phone" class="form-control" />
                <span asp-validation-for="Professional.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professional.Instagram" class="control-label">Instagram</label>
                <input asp-for="Professional.Instagram" class="form-control" />
                <span asp-validation-for="Professional.Instagram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professional.HealthInsurance" class="control-label">Convênios</label>
                <input asp-for="Professional.HealthInsurance" class="form-control" />
                <span asp-validation-for="Professional.HealthInsurance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Professional.Password" class="control-label">Senha*</label>
                <input asp-for="Professional.Password" class="form-control" />
                <span asp-validation-for="Professional.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar alterações" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">← Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
