@model newPrideMore.Models.ViewModels.ProfessionalTypeFormViewModel

@{
    ViewData["Title"] = "Procurar profissionais";
}

<h2>Procurar profissionais</h2>
<hr />


<form asp-controller="Professionals" asp-action="Index" method="get">
    <div class="col-11">
        <label asp-for="Specialist" class="control-label">Escolha o profissional</label>
        <select class="form-control" asp-for="Specialist" asp-items="Model.ProfessionalTypes">
            <option value="">Todos</option>
        </select>
    </div>
    <div class="col-1">
        <input type="submit" value="Procurar" class="btn btn-dark" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <span>Nome</span>
            </th>
            <th>
                <span>Especialidade</span>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Professionals)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessionalType.Speciality)
            </td>
            <td></td>
            <td></td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Email">+ informações</a>
            </td>
        </tr>
        }
    </tbody>
</table>