@model IEnumerable<newPrideMore.Models.Professional>

@{
    ViewData["Title"] = "Procurar profissional";
}

<h2>Procurar profissional</h2>
<hr />
<div>
    <a asp-action="ProfessionalSearch" class="btn btn-dark">Procurar</a>
</div>
<div>
    <a asp-action="Index">← Todos os profissionais</a>
</div>